*{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;    
    word-spacing: 50px;
    
}
a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color: aqua;
}
.logo{
    margin-left: 30px;
    width: 60px;
}
.nav menu{
    padding: 0 15px;
}
/* 메인부분 시작 */

main{
    background-image: url(https://www.bluebottlecoffeekorea.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fcqfze8rg%2Fproduction%2F89f63ca5a69e6ba80739c9b64269cc7e843a2c4c-1920x1080.jpg&w=1920&q=75);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
    .ment1{
    position: relative;
    top: 300px;
    left: 45px;
    font-size: 1em;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
 }
    .ment2{
    position: relative;
    top: 295px;
    left: 45px;
    font-size: 3em;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
 }
    button{
    position: relative;
    top: 300px;
    left: 45px;
    padding: 5px 24px;
    font-weight: 400;
    color: whitesmoke;
    background-color: aqua;
    border: 0;
    cursor: pointer;
 }

 footer{
    color: gray;
    font-size: 600;
    letter-spacing: 1.5px;
    font-size: 14px;
    padding: 10px 50px;
 }
 a{
    width: 100px;
    height: 100px;
    background-color: aqua;
 }
 
 
 
    
 
